*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgba(106, 241, 239, 0.795);
    /* display: flex;
    align-items: center;
    justify-content: center;  */
}

main {
    background-color: rgb(204, 255, 203);
    color: rgb(43, 42, 42);
    height: 450px;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label{
    font-size: large;
    padding-right: 25px;
}


footer{
    position: absolute;
    top: 100%;
    color: rgb(255, 255, 255);
}

h1{
    text-align: center;
    padding-bottom: 35px;
}

#inputCheckbox{
    display: flex;
    justify-content: center;

}

#question{
    padding-bottom: 15px;
    text-align: center;
    font-size: large;
}

#blockcommand{
    position: static;
}

#inputNum{
    font-size: large;
    position: absolute;
    top: 40%;
    left: 25%;
}

a{
    color: gray;
}

a:visited{
    color: #000;
}

